<!DOCTYPE html>

<html>
    
<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
    

<head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Jan</p>
        <iframe width="956" height="538" src="https://www.youtube.com/embed/Ky5l9ZxsG9M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img class='portrait' src='/img/Aboutimg.png'>
    </div>
    
    {{>footer}}
    
    
<body>
<html>