<!DOCTYPE html>

<html>
    
<head>
    <title>Converter</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
<head>
    
<body>
    <div class='main-content'>
       {{>header}}
       <p>Use this site to convert an adress to coordinates.</p> 
       <form>
           <input placeholder='Location'>
           <button>Search</button>
       </form>

       <p id='message-3'></p>
       <p id='message-4'></p>
       <p id='message-5'></p>
    </div>
    
    {{>footer}}
    


    <script src="/js/converter.js"></script>
<body>

<html>