<!DOCTYPE html>

<html>
    
<head>
    <title>Converter</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
<head>
    
<body>
    <div class='main-content'>
       {{>header}}
       <p>Use this site to convert an adress or coordinates to the oposite data.</p> 
       <form id='ltc'>
           <input id='input' placeholder='Location'>
           <button>Calculate</button>
       </form>

        <p id='message-3'></p>
       <p id='message-4'></p>
       <p id='message-5'></p>

       
       <form id='ctl'>
           <input id='input' placeholder='latitude'>
           <input id='input' placeholder='longitude'>
           <button>Calculate</button>
       </form>

        <p id='message-6'></p>
       <p id='message-7'></p>
       <p id='message-8'></p>
       
    </div>
    
    {{>footer}}
    


    <script src="/js/converter.js"></script>
<body>

<html> 