<!DOCTYPE html>

<html>
    
<head>
    <title>Help</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>

<head>

<body>

    <div class="main-content">
        {{>header}}
    <form id="p">
        <input  id="tap" placeholder='Title of the problem'>
        <input id ="dop" placeholder='Description of the problem'>
        <button id='helpB'>Send</button>
    </form>
    <p id='messageOk'></p>
    </div>
    
    {{>footer}}
    

    <script src="/js/help.js"></script>
    
<body>

<html>