<!DOCTYPE html>

<html>
    
<head>
    <title>Success</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>

<head>

<body>
    <h1>Success!!!</h1>
    <p>Your message was delivered</p>
    <a id="back" href='/'>Back</a>
<body>
<html>